<h1>Users</h1>
<table>
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>